.App {
  text-align: center;
}

.Container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  text-decoration: underline;
}

.GroceryList {
  width: 100%;
}

.ShoppingCart {
  width: 100%;
}

.List {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.list-item-grocery {
  list-style: none;
  background-color: rgba(128, 211, 255);
}

.list-item-grocery:nth-child(even) {
  background-color: rgb(128, 211, 255, 0.5);
}

.list-item-shopping {
  list-style: none;
  background-color: rgba(195, 128, 255);
}

.list-item-shopping:nth-child(even) {
  background-color: rgba(195, 128, 255, 0.5);
}

.emptyButton {
  background-color: rgba(195, 128, 255);
  color: white;
  font-size: 15px;
  padding: 5px 40px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="text"] {
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
}
